body {
  background-color: #a6a6a6;
}
code,
pre {
  background-color: #333335;
  color: #cecece;
}
.container {
  width: 600px;
  min-width: 400px;
  margin: 0 auto;
}
.content {
  background-color: #595959;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px, 5px; 
}